<table>
    <th>
        <td>base_experience</td>
        <td>height</td>
        <td>weight</td>  
        <td>name</td>
    </th>
    <tr>
        <td>{{caracteristique.base_experience}}</td>
        <td>{{caracteristique.height}}</td>
        <td>{{caracteristique.weight}}</td>    
        <td>{{caracteristique.name}}</td>
    </tr>
    

</table>

